<h3>
  Active Users: active -> inactive
  <span class="label label-primary">{{ activeToInactiveCount }}</span>
</h3>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let user of users; let i = index">
    {{ user }} | <a href="#" (click)="onSetToInactive(i)">Set to Inactive</a>
  </li>
</ul>
