<h3>
  Inactive Users: inactive -> active
  <span class="label label-primary">{{ inactiveToActiveCount }}</span>
</h3>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let user of users; let i = index">
    {{ user }} | <a href="#" (click)="onSetToActive(i)">Set to Active</a>
  </li>
</ul>
